@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #023951;
  background-color: #f3f3f3;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.search {
  font-size: 18px;
  width: 300px;
  max-width: 100%;
  height: 40px;
  border: 1px solid rgb(97, 97, 173);
  border-radius: 5px;
  margin: 0 auto 25px;
  padding: 10px 15px;
  display: block;
  outline: none;

  &:focus {
    border-color: rgb(82, 82, 206);
  }
}

.btn__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  .btn {
    font-size: 16px;
    width: 188px;
    max-width: 100%;
    height: 40px;
    border: 1px solid rgb(97, 97, 173);
    border-right: none;
    border-radius: 0;
    margin: 0;
    display: block;
    transition: 0.3s;
    outline: none;
    cursor: pointer;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-right: 1px solid rgb(97, 97, 173);
      border-radius: 0 5px 5px 0;
    }

    &:hover {
      color: #fff;
      background-color: rgb(97, 97, 173);
    }

    &:active {
      color: #fff;
      background-color: rgb(82, 82, 206);
    }
  }
}

.biathletes__list {
  padding: 0;
  margin: 0;

  .biathlete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    list-style: none;
    width: 750px;
    max-width: 100%;
    height: 75px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto 25px;
    padding: 5px 15px;

    @media (max-width: 550px) {
      flex-wrap: wrap;
    }

    .place {
      font-size: 30px;
      width: 40px;

      @media (max-width: 650px) {
        font-size: 26px;
      }

      @media (max-width: 550px) {
        font-size: 22px;
        width: 20%;
      }
    }

    .name {
      font-size: 26px;
      text-transform: capitalize;
      margin-left: 5px;
      margin-right: auto;
      width: 280px;
      max-width: 100%;

      @media (max-width: 650px) {
        font-size: 22px;
        margin-left: 0;
      }

      @media (max-width: 550px) {
        font-size: 18px;
        width: 80%;
        margin-right: auto;
        text-align: right;
      }
    }

    .info {
      font-size: 20px;
      width: 200px;
      line-height: 1.5;

      @media (max-width: 650px) {
        font-size: 16px;
        width: 160px;
      }

      @media (max-width: 550px) {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        width: 100%;
      }
    }
  }
}
